.cake {
    background-color: #DABC98;

    &__wraper {
        display: flex;
        padding: 80px 0 80px 0;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @include desktop-xl {
            flex-direction: column;
            gap: 30px;
        }

        @include desktop-m {
            padding: 40px 0 40px 0;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__img {
        max-width: 176px;
        min-height: 154px;
        flex-shrink: 0;
    }

    &__title {
        font-size: 2.188rem;
        font-weight: 600;
        line-height: 3.125rem;
        max-width: 460px;


        @include desktop-m {
            font-size: 1.23rem;
            line-height: 1.544rem;
            max-width: 380px;
            text-align: center;
        }
    }

    &__svg-wraper-block {
        display: flex;
        border-left: 1px solid black;
        padding: 40px 65px 20px 70px;
        gap: 60px;

        @include desktop-m {
            padding: 20px 32px 20px 35px;
            gap: 40px;
        }

        @include tablet-l {
            padding: 10px 12px 10px 15px;
            gap: 20px;
        }

    }

    &__svg-wraper {
        max-width: 128px;
        max-height: 116px;
        flex-shrink: 0;
    }

    &__svg-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        /* 166.667% */
        letter-spacing: 0.75px;
    }

    &__svg-stars {
        margin: 20px 0 14px 0;
    }



    /*  &__png {
        width: 128px;
        height: 116px;
        flex-shrink: 0;
    }

    &__png-block {
        display: flex;
        gap: 70px;
        padding-left: 71px;
        border-left: 1px solid black;
    } */


}