.section {
    padding: 115px 0;

    @include desktop-m {
        padding: 25px 0;
    }


    &__flax {
        display: flex;

        @include desktop-xl {
            flex-direction: column;
        }

    }

    &__title-block {
        padding: 14px 0 35px;
        max-width: 620.016px;
        min-height: 610px;
        flex-shrink: 0;



        @include desktop-m {
            padding: 5px 0 5px 0;
        }

    }

    &__title {
        font-size: 4.063rem;
        font-weight: 600;
        line-height: 4.375rem;
        margin-bottom: 51px;

        @include desktop-xl {
            line-height: 3rem;
            font-size: 3rem;
            margin-bottom: 25px;
        }

        @include tablet-l {
            line-height: 2rem;
            font-size: 2.15rem;
        }
    }

    &__p {
        font-size: 1.563rem;
        font-weight: 400;
        line-height: 2.188rem;
        max-width: 450px;
    }

    &__text {
        font-size: 1.563rem;
        font-weight: 400;
        line-height: 2.188rem;
    }

    &__btn {
        margin: 50px 0px 25px 0;
        display: flex;
        gap: 10px;
    }

    &__img-block {
        padding: 90px 0 35px 0;
        max-width: 759px;
        max-height: 529px;


        @include desktop-m {
            padding: 5px 0 5px 0;
        }


    }

    &__img {
        // max-height: 130%;
        // max-width: 90%;
        object-fit: contain;
        max-width: 100%;
    }

}